<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full h-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="POST">
          <input
            class="block w-full rounded-md outline-none px-3 py-2 bg-zinc-800"
            type="text"
            placeholder="Title gose here.."
            name="title"
          />
          <textarea
            class="block w-full rounded-md outline-none mt-2 resize-none px-3 py-2 bg-zinc-800"
            placeholder="write your task details here.."
            name="description"
          ></textarea>
          <input
            class="mt-2 bg-blue-600 px-5 py-2 rounded-md"
            type="submit"
            value="create Task"
          />
        </form>
      </div>
      <div class="tasts flex gap-3 flex-wrap p-10">
        <% if(files.length > 0) { %> <% files.forEach((file) => { %>
        <div class="task min-w-72 px-3 py-4 bg-zinc-800 rounded-md">
          <h1 class="text-white text-3xl tracking-tighter"><%= file %></h1>
          <div class="flex w-full justify-between items-center mt-3">
            <a class="text-blue-400 inline-block" href="/file/<%= file %>"
              >Read More.</a
            >
            <a class="text-zinc-600" href="/edit/<%= file %>">edit file name</a>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h3 class="text-zinc-600">No task yet.</h3>
        <% } %>
      </div>
    </div>
    <!-- <script src="/javascripts/script.js"></script> -->
  </body>
</html>
